@charset "utf-8";
/*
 * author "MartinCui" 
 * date   2017-06-30
 * use    platform system
 */

$color_fff : #fff;
$color_000 : #000;
$color_333 : #333;
$color_666 : #666;
$color_999 : #999;
$color_13a189 : #13a189;
$color_30343d : #30343d;
$color_454951 : #454951;
$color_f4f4f5 : #f4f4f5;
$color_c7e8e2 : #c7e8e2;
$color_cbcbcb : #cbcbcb;
$color_e9e9e9 : #e9e9e9;
$color_f00: #f00;

$fz_30 : 30px;
$fz_18 : 18px;
$fz_16 : 16px;
$fz_14 : 14px;
$fz_12 : 12px;
$fz_5 : 5px;

@mixin borderRadius($border: $fz_5){
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    -o-border-radius: $border;
    border-radius: $border;
}

*{
    padding:0;
    margin:0;
}

input, a, button, button:hover, a:hover, a:link, a:visited, button:visited,select, select:hover{
    outline: 0;
}


html,body,h1,h2,h3,h4,h5,h6,div,p,aside,blockquote,q,section,article,video,audio,object,hgroup{
    display: block;
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑", "arial, helvetica, sans-serif";
    font-size: 12px;
    background-color: $color_f4f4f5;
}

ul,ol{
    list-style: none;
}
.color_green{
    color: $color_13a189 !important;
}
.bgcolor_green{
    background-color: $color_13a189 !important;
}

a,a:hover,a:active,a:link,a:visited{
    text-decoration: none;
}

.row{
    padding:0;
    margin:0;
}
.panel{
    @include borderRadius(0);
    border:0 none;
}

.cui-search{
    height: auto;
    padding: 5px 20px;
    
    .cui-search-component{
        
        height: 40px;
        
        label {
            font-weight: normal;
            font-size: $fz_14;
            color: $color_30343d;
            height: 30px;
            line-height: 30px;
        }
        
        select {
            width: 60%;
            height: 30px;
            line-height: 30px;
            font-size: $fz_14;
            color: $color_30343d;
            padding-left: 10px;
        }
        select:hover{
            border: 1px solid $color_13a189;
        }
        
    }
    
    .cui-search-btn{
        width: 110px;
        height:30px;
        line-height: 30px;
        font-size: $fz_14;
        color: $color_fff;
        text-align: center;
        padding:0;
        background: url(../images/btn_sousuo_normal.png) no-repeat;
        @include borderRadius(0);
        border: 0 none;
    }
    .cui-search-btn:hover{
        background: url(../images/btn_sousuo_hover.png) no-repeat;
    }
}
.cui-container{
    
    .panel-heading{
        background-color: $color_fff;
        border: 0 none;
        color: $color_30343d;
        padding-left: 20px;
        padding-right:20px;
        height: 50px;
        
        .panel-title{
            border-left: 3px solid $color_13a189;
            height: 20px;
            line-height: 20px;
            font-size: $fz_14;
            padding-left: 10px;
            color: $color_13a189;
            float:left;
            width: 50%;
            margin-top:5px;
        }
        
        .btn-toolbar{
            width: 50%;
            float:left;
            margin:0;
            height: 30px;
            text-align: right;
            
            .btn-group{
                float:right;
                cursor: pointer;
            }
            button{
                padding:0;
                margin:0;
                outline: 0;
                @include borderRadius(0);
                border: 0 none;
            }
            .cui-table-add{
                width: 30px;
                height: 30px;
                background: url(../images/btn_xiaofang_xinzeng_normal.png) no-repeat;
            }
            .cui-table-add:hover{
                background: url(../images/btn_xiaofang_xinzeng_hover.png) no-repeat;
            }
            .cui-table-update{
                width: 30px;
                height: 30px;
                background: url(../images/btn_xiaofang_xiugai_normal.png) no-repeat;
            }
            .cui-table-update:hover{
                background: url(../images/btn_xiaofang_xiugai_hover.png) no-repeat;
            }
            .cui-table-delete{
                width: 30px;
                height: 30px;
                background: url(../images/btn_xiaofang_shanchu_normal.png) no-repeat;
            }
            .cui-table-delete:hover{
                background: url(../images/btn_xiaofang_shanchu_hover.png) no-repeat;
            }
        }
    }
    
    .cui-container-table{
        
        th,td{
           padding:0;
           text-align: center;
           margin:0;
           border:1px solid $color_f4f4f5;
           height: 30px;
           line-height: 30px;  
        }
        th{
            color: $color_fff;
            background-color: $color_13a189;
        }
        td{
            $color:$color_30343d;
        }
    }
}

.cui-alert{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 10001;
    display: none;
    
    .cui-alert-box{
        width: 396px;
        height: auto;
        background-color: $color_fff ;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -198px;
        padding: 5px;
        z-index: 10002;
    }
    
    .cui-data-box{
        width: 706px;
        height: auto;
        background-color: $color_fff ;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -353px;
        padding: 5px;
        z-index: 10002;  
    }
    
    .cui-alert-title{
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-color: $color_13a189;
        color: $color_fff;
        font-size: $fz_14;
        text-align: center;
        position: relative;
        
        .cui-alert-close{
            width:30px;
            height:30px;
            line-height: 30px;
            text-align: center;
            color: $color_fff;
            font-size: $fz_16;
            position: absolute;
            right:0;
            top:0;
            z-index: 10003;
            font-family: cursive;
        }
    }
    
    .cui-alert-message{
        width: 100%;
        height: auto;
        margin-top: 10px;
        background-color: $color_f4f4f5;
        
        p{
            width: 100%;
            height: auto;
            line-height:30px;
            font-size: $fz_14;
            text-align: center;
            color: $color_30343d;
        }
        
        p.cui-alert-icon{
            width: 100%;
            height: 148px;
            
            em{
                width: 90px;
                height: 90px;
                border: 5px solid #83bacf;
                background-color: $color_13a189;
                text-align: center;
                line-height: 85px;
                font-size: 68px;
                color: $color_fff;
                display: block;
                float:left;
                margin-left: 148px;
                font-style: normal;
                font-weight: bold;
                margin-top: 29px;
                @include borderRadius(50%);
                font-family: fantasy;
            }    
        }
        form{
            width: 100%;
            height: auto;
        }
        
        table{
            margin-bottom: 0;
        }
        
        td{
            border-top:0 none;
            padding:2px;
        }
        
        label{
            width:30%;
            height:30px;
            line-height: 30px;
            font-size: $fz_12;
            text-align: right;
            padding-right:10px;
        }
        
        input,select{
            width: 50%;
            height: 30px;
            line-height: 30px;
            padding-left:10px;
            border: 1px solid $color_e9e9e9;
        }
        input:hover,select:hover{
            border: 1px solid $color_13a189;
        }
        em.cui-data-must_icon{
          width:10px;
          height:30px;
          line-height: 30px;
          text-align: center;
          color: $color_f00;  
          font-size: $fz_18;
        }
    }
    
    .cui-alert-tools{
        width: 100%;
        height: 78px;
        margin-top:5px;
        border-top: 3px solid $color_13a189;
    }
    
    .cui-alert-btn{
        width: 110px;
        height: 30px;
        line-height: 30px;
        background: url(../images/btn_sousuo_normal.png) no-repeat;
        text-align: center;
        font-size: $fz_16;
        color: $color_fff;
        border:0 none;
        outline: 0;
        margin-left: 22.797%;
        float:left;
        margin-top: 24px;
    }
    .cui-alert-btn:hover{
        background: url(../images/btn_sousuo_hover.png) no-repeat;
    }
}
